.card{
    display: flex;
    flex-direction: column;
    // gap: 4rem;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.676);
    border-radius: 2%;
    
}
.upper-portion{
    display: flex;
    align-items: center;
    justify-content:left;
    // padding-block: 1rem;
    padding-top: 1rem;
    padding-inline: 0.5rem;
    gap:0.25rem;
    .userImg{
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
    }
}
.middle-portion{
    img{
        width: 20rem;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border-radius: 20px;
    }
}
.bottom-portion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1rem;
    .icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-icon{
            display: flex;
            gap: 0.5rem;
        }
    }
    p{
        width: 1.5rem;
        &:hover{
            cursor: pointer;
        }
    }
}
