@use './button.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.link{
    text-decoration: none;
    color: rgb(252, 135, 135);
}
